<p>{{ 'TRY' | translate }}</p>
<pip-unsaved-changes pip-unsaved-changes-available="isAvailable()" pip-unsaved-changes-message="{{ message }}"></pip-unsaved-changes>
<md-input-container class="w50-stretch bm0">
    <label >{{ 'TEXT' | translate }}</label>
    <input  ng-model="message" required/>
</md-input-container>
<md-switch ng-model="available">{{ 'AVAILABLE' | translate }}</md-switch>
<div>
<md-button ng-click="onLeavePage()" ng-disabled="!message">{{ 'LEAVE' | translate }}</md-button>
<a href="http://github.com/pip-webui/pip-webui-controls/issues/77">{{ 'LINK' | translate }}</a>
</div>